.Pagelogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    font-family: poppins;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 1px solid #000;
}
form{
    width: 100%;
    padding: 20px 80px;
}
label{
    display: flex;
    margin: 10px 0px;
}

.textDebienvenue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.textDebienvenue h1{
    font-weight: 500;
    font-size:xx-large;
    color: #0062D1;
}
.image{
    width: 80%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #000;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bouton{
    width: 80%;
    height: 30px;
    margin-top: 30px;
    margin-left: 50px;
    color: #ffffff;
    border-radius: 10px;
    background: #0062D1;
}
.paragraphe{
    text-align: center;
}
.boutton2{
    color:#0062D1
}