.Store{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    height: 100vh;
}
header{
    height: 70px;
    /* border: 1px solid #000; */
}
footer{
    height: 70px;
    /* border: 1px solid #000; */
    bottom: 0;
    color: blue;
}
main{
    display: flex;
    width: 100%;
    /* border: 1px solid #000;   */
    margin-top: 100px;
}
section{
    padding-left: 20px;
    padding-top: 15px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;

}
.section2{
    width: 100%;
    /* border: 1px solid #000; */
}
aside{
    /* border: 1px solid #000; */
}