.store{
    width: 100%;
    height: 100Vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.store header{
    width: 100%;
    border: 1px solid #000;
}