
/* section 1 */
.section1home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    /* border: 1px solid #000; */
}
.section1home .image img{
    object-fit: cover;
    
}
.section1home .image{
    /* border: 1px solid #000; */
    height: 400px;
    margin: 0;
    padding-top: 50px;
    /* width: 00px; */
}
.section1home .ul{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    /* border: 1px solid #000; */
}
.section1home .ul li{
    margin: 10px 30px;
    list-style: none;
}
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 500px;
    margin-top: 50px;

    background-color: blue;
    color: white;
}
.section2 hr{
    height: 250px;
}
.laSeparante{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 500px;
    margin-top: 50px;
}
.laSeparante p{
    width: 400px;
    text-align: center;
}
.section2Gauche{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}
.section2Droite{
    display: flex;
    justify-content: center;

    width: 100%;
    /* border: 1px solid #000; */
}
footer{
    height: 50px;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;

    /* border: 1px solid #000; */
}
.headerHome{
    height: 600px;
    background-color: #0b1711;
}