.AsideStore{
    width: 300px;
    height: 100vh;
    z-index: 1000;
    background-color: white;
    color: black;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1), 0px 0px 10px 0px rgba(0, 0, 0, 0.3), 0px 0px 15px 0px rgba(0, 0, 0, 0.6); */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 120, .4);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;  
    
}
/* .AsideStore:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 255, .4);
} */
.AsideStore > *{
    display: flex;
    justify-content: center;
    /* margin-top: 40px;     */
    padding-bottom: 10px;
    height: 200px;
    overflow-y: hidden;
    /* border: 1px solid #000; */
    padding-top: 5px;
    scroll-margin-right: 20px;
}
.AsideStore fieldset{
    width: 200px;
    transition: box-shadow .8s ease-in-out;
    border: none;
    border-radius: 10px;
}
.AsideStore fieldset:hover{
    box-shadow: 0px 0px 05px 0px rgb(202, 202, 202);
    border: none;
}
.AsideStore fieldset:hover legend{
    color: blue;
}
.AsideStore p{
    padding-left: 20px;
    transition: color .5s ease-in-out,padding-left .5s ease-in-out,box-shadow .5s ease-in-out,border-radius .5s ease-in-out;
}
.AsideStore p:hover{
    padding-left: 30px;
   
    color: blue;
}
.AsideStore p span{
    padding: 0px 10px 0px 10px;
}
.AsideStore p:hover span{
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .5);
    border-radius: 5px;
}
.AsideStore fieldset legend{
    background-color: white;
}
.AsideStore fieldset:hover legend{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 255, .5);
}