.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 70px;
    width: 400px;
}
.adminimage{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 20px;
}
.user{
    /* border: 1px solid #000; */
    /* padding-left: 0px; */
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}